extends layout 

block contenido 

    section.SeccionProducto
        .card
            .row.no-gutters
                .col-md-4
                    .Contenedor.ContenedorProducto(data-id=Producto.Id)
                    .ImagenCont
                        .Imagen
                            img.ImgPro.SliderImg.show(src=`/img/${Producto.Imagen}`, alt=Producto.Titulo)
                            img.SliderImg(src=`/img/${Producto.Imagen}/${Producto.Imagen}` alt=Producto.Titulo)
                        img.SliderImg(src=`/img/${Producto.Imagen}/${Producto.Imagen}-2.png` alt=Producto.Titulo)
                        .CambiarFoto

                .col-md-8
                    .card-body
                        .InformacionCont
                            .InformacionTarta
                                a(href=`/Producto/Editar/${Producto._id}`) 
                                    i(class="fa fa-ellipsis-vertical BtnEditarProducto")
                                .PrecioNombre
                                    h2.ProductoNombre.NombreTarta= Producto.Titulo
                                    p.PrecioProducto.Precio $
                                        span= Producto.Precio
                                .Compra
                                    form(action="#" method="POST")
                                        .form-group
                                            label(for='Cantidad') Cantidad:
                                            input#Cantidad.form-control(type='number' name='Cantidad' min='1' value="1")
                                        button.btn.btn-primary.BtnProductos(name='BtnAccion' type='button' value='Agregar')
                                            span Agregar al Carrito
                            p.Descripcion= Producto.Descripcion
